@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/no-script.css);
@import url(./componentes/loader.css);

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--branco) !important;
}

.content-all{
  min-height: calc(100vh - (6rem ));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none{
  display: none;
}

.block{
  display: block;
}

h1{
  font-weight: 200;
}

small{
  font-size: 1rem;
}

.link-visivel{
  text-decoration: underline;
}

[data-element="critica-tempo-de-servico"] li > i{
  margin-right: 0.5rem;
}

.text-success{
  color: #0D6EFD !important;
}

.text-error{
  color: #E33B3B !important;
}

.invalid label,
.invalid input{
  border: 1px solid #E33B3B !important;
}