@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/no-script.css);
@import url(./componentes/loader.css);

*{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--branco) !important;
}

.content-all{
  min-height: calc(100vh - (6rem ));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.none{
  display: none;
}

.block{
  display: block;
}

h1{
  font-weight: 200;
}

h4 > b{
  font-size: 1.5rem;
}

small{
  font-size: 1rem;
}

.link-visivel{
  text-decoration: underline;
}

[data-element="critica-tempo-de-servico-sucesso"] li > i,
[data-element="critica-tempo-de-servico-erro"] li > i{
  margin-right: 0.5rem;
}

div.alert{
  margin: 0;
}

.text-success{
  color: #0D6EFD !important;
}

.text-error{
  color: #AA3939 !important;
}

.invalid label,
.invalid input{
  border: 1px solid #AA3939 !important;
  border-radius: 0 !important;
}

.invalid label:is(:hover, :focus),
.invalid input:is(:hover, :focus){
  box-shadow:  0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -webkit-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  -moz-box-shadow: 0px 0px 0px 3.5px rgb(255, 142, 142, 0.4) !important;
  border-radius: 0 !important;
}

.input-group button{
  border-color: #DEE2E6;
  border-left: unset;
}

.input-group button:is(:focus, :hover){
  background-color: #DEE2E6;
  border-color: #DEE2E6;
  color: #000;
}

.btn-light{
  border-color: #CED1DD;
  background-color: #DEE2E6;
}

h5 b{
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  [data-element="periodo"] .input-group:last-child{
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  [data-element="formulario"] > div:last-child{
    display: block !important;
  }

  [data-element="formulario"] > div:last-child button:last-child{
    margin-top: 0.5rem;
  }

  [data-element="formulario"] > div:last-child button{
    width: 100%;
  }

  footer div.row div:first-child{
    margin-top: 1.5rem;
  }

  footer div.row div:not(:first-child){
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 540px) {
  main{
    display: block !important;
  }

  main > section:last-child{
    margin-top: 0.5rem;
  }

  [data-element="periodo"] .input-group:last-child{
    margin-top: 0;
  }
}

@media screen and (max-width: 440px) {
  [data-element="formulario"] [data-element="periodos"] [data-element="periodo"]{
    display: block !important;
  }

  [data-element="periodo"] .input-group:last-child{
    margin-top: 0.5rem;
  }

  footer div.row{
    display: block !important;
  }
}

.card-tempo-de-servico{
  margin: 0;
  border: 0;
  border-radius: 10px;
  
  width: 400px;
  background: url(../img/background-tempo.png) center / cover no-repeat;
  padding: 1.5rem;
  padding-bottom: 1rem;
  
  .tempo :is(h3, span), .descricao :is(h3, span){
    font-family: 'Inter Tight', 'Inter', sans-serif;
    color: #444444;
  }
  
  .tempo{
    /* background: url(./assets/img/background-tempo.png) center / cover no-repeat; */
    backdrop-filter: blur(50px);
    border-radius: 10px;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    /* display: flex; */
    flex-direction: column;
    place-items: flex-start;
    place-content: center;
    border: 1px solid #FFF;
    
    .tempo-titulo{
      text-align: center;
      font-size: 4rem;
      font-weight: 800;
      padding: 0.5rem 1rem;
      /* background-color: #DDD; */
    }
    
    .tempo-descricao{
      text-align: center;
      background-color: #FFF;
      color: #4449;
      border-radius: 0 0 7.5px 7.5px;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  
  .descricao{
    .descricao-titulo-secundario{
      font-size: 1.25rem;
      font-weight: 700;
      opacity: 0.7;
    }

    .descricao-titulo{
      font-weight: 700;
    }
  }
}