@import url(./frameworks/bootstrap.css);
@import url(./frameworks/bootstrap-icons.css);

@import url(./normalize.css);
@import url(./reset.css);
@import url(./cores.css);
@import url(./variaveis.css);

@import url(./componentes/no-script.css);
@import url(./componentes/loader.css);

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
  background-color: var(--branco) !important;
}

.none{
  display: none;
}

.block{
  display: block;
}

h1{
  font-weight: 600;
}

.link-visivel{
  text-decoration: underline;
}